* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #003973, #E5E5BE);
}
.word-display {
    margin-top: 3rem;
    font-size: 80px;
    color: #003973;
}
.word-input-box {
    margin-top: 2rem;
}
.word-input {
    padding: 0.5rem;
    width: 300px;
}
.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.game-info span {
    font-size: 30px;
}
.button {
    width: 200px;
    height: 35px;
    background: linear-gradient(45deg, #003973, #E5E5BE);
    color: #fff;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
}
.loading {
    background: #ccc;
    cursor: not-allowed;
}